:host ::ng-deep .p-datatable>.p-datatable-wrapper {
  padding-bottom: 5rem;
}


:host ::ng-deep .p-dialog {
  background: white;
  gap: 1rem;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background: #4B527E;
  color: white;
}

:host ::ng-deep .p-dialog .p-dialog-header svg {
  fill: white;
  color: white;
}

:host ::ng-deep .p-dialog .p-dialog-content:last-of-type {
  padding-bottom: 1rem;
}

thead {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.09) 0px 3px 7px -3px;
}

th {
  color: white;
  background: #4B527E;
}

.table-header {
  padding: 10px;
  padding-bottom: 5px;
}

td {
  padding-top: 15px;
  border-bottom: #BEBEBE 0.5px solid;
}