<div class="flex justify-content-start p-3" >
  <p-timeline [value]="listProcess" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="border-circle p-2 shadow-2" 
        [style.backgroundColor]="event.stepStatus == 'COMPLETE' ? '#5CB66B' : 'gray'" 
        [style.Color]="'white'">
      <i [ngClass]="event.stepStatus == 'COMPLETE' ? 'pi pi-check' : 'pi pi-info-circle'"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <div class="font-bold"> {{ event.subService.subServiceName }} </div>
      <ng-container *ngIf="event.stepStatus == 'COMPLETE'">
        <div class="text-gray-500">Complete at : {{ event.timestamp | date:'h:mm a dd/MM/yy' }} </div>
      </ng-container>
    </ng-template>
  </p-timeline>
</div>