@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Inter', sans-serif, 'IBM Plex Sans Thai', sans-serif;
}


:host ::ng-deep .p-timeline-event-opposite, .p-timeline-event-content {
  flex: none;
  padding: 2rem;
}
