input,
.dropdown {
  width: 300px;
}

.fullWidth {
  width: 800px;
}

label {
  font-size: 0.9em;
}

.readonly {
  background-color: rgb(240, 240, 240);
}

:host ::ng-deep .p-tag {
  width: 150px;
}

.not-available {
  background-color: rgb(240, 240, 240);
}