<app-sidebar>
    <div class="text-xl flex justify-content-center pt-4 pb-4">Customer Information</div>
    <div class="flex justify-content-evenly ">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">First Name</label>
        <input pInputText id="username" placeholder="Enter Your First Name" />
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Last Name</label>
        <input pInputText id="username" placeholder="Enter Your First Name" />
      </div>
    </div>
    <div class="flex justify-content-evenly mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Tel</label>
        <input pInputText id="username" placeholder="Enter Your Phone Number" />
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">E-Mail</label>
        <input pInputText id="username" placeholder="Enter Your Email" />
      </div>
    </div>
    <div class="flex justify-content-evenly mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Car License</label>
        <input pInputText id="username" placeholder="Enter Your Car License" />
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Car Model</label>
        <input pInputText id="username" placeholder="Enter Your Car Model" />
      </div>
    </div>
    <div class="text-xl flex flex-row justify-content-evenly pt-5 pb-0">Appointment Information</div>
    <div class="flex justify-content-center mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Service Types</label>
        <p-dropdown [options]="typeService" [(ngModel)]="selectedService" optionLabel="name"></p-dropdown>
      </div>
    </div>
    <div class="flex justify-content-center mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Date Appointment</label>
        <p-calendar [(ngModel)]="date"></p-calendar>
      </div>
    </div>
    <div class="flex justify-content-center mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Time Appointment</label>
        <p-calendar [(ngModel)]="selectedTime" [timeOnly]="true"></p-calendar>


      </div>
    </div>
    <div class="flex justify-content-center mt-3">
      <div class="flex flex-column gap-2">
        <label htmlFor="username">Other Information</label>
        <input class="fullWidth" pInputText/>
      </div>
    </div>
    <div class="flex justify-content-center mt-3">
      <div class="flex flex-column gap-2">
        <p-button label="Search Your Reservation"
                  class="p-button-sm"
                  [style]="{width : '800px', background : '#3c3c3c', border: 'none'}">
        </p-button>
      </div>
    </div>
</app-sidebar>
