<div class="py-5 shadow-2">
  <div class="grid">
    <div class="col-3">
      <div class="flex justify-content-center">
        <div class="avatar">
          <img src="https://www.w3schools.com/howto/img_avatar.png" style="border-radius: 50%;" width="150px"
            height="150px">
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="text-xl font-bold"> {{ booking.customer?.custName }} {{booking.customer?.custSurname}} </div>
      <div class="grid mt-3">
        <div class="col-6">
          <div>
            Customer Information
          </div>
          <div class="flex mt-2 text-gray-600">
            <div>Phone : </div>
            <div class="ml-2">
              {{ booking.customer?.custPhone }}
            </div>
          </div>
          <div class="flex mt-2 text-gray-600">
            <div>Email : </div>
            <div class="ml-2">
              {{ booking.customer?.custEmail }}
            </div>
          </div>

        </div>

        <div class="col-6">
          <div>
            Service Information
          </div>
          <div class="flex mt-2 text-gray-600">
            <div>Car Info : </div>
            <div class="ml-2">
              {{ booking.car?.carBrand }} {{ booking.car?.licensePlate }}
            </div>
          </div>
          <div class="flex mt-2 text-gray-600">
            <div>Booking Date : </div>
            <div class="ml-2">
              {{ booking?.appointmentDateTime | date:'dd/MM/yy' }}
            </div>
          </div>
          <div class="flex mt-2 text-gray-600">
            <div>Service Type : </div>
            <div class="ml-2">
              {{ booking.serviceType?.serviceTypeName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-3">
  <p-divider></p-divider>
</div>