<app-sidebar>
    <div class="flex justify-content-between p-4 px-4">
        <div class="text-4xl font-bold"> Reservation </div>
        <div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search..." />
            </span>
        </div>
    </div>

    <div class="p-4 px-4">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Queue</th>
                    <th>License plate</th>
                    <th>Brand</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.queue }}</td>
                    <td>{{ product.licen }}</td>
                    <td>{{ product.brand}}</td>
                    <td>{{ product.date}}</td>
                    <td>{{ product.time}}</td>
                    <td>{{ product.description}}</td>
            </ng-template>
        </p-table>
    </div>
</app-sidebar>