<app-sidebar>
  <div class="py-3">
    <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
    <div class="px-3 -mt-2">
      <p-divider></p-divider>
    </div>
  </div>

  <div class="grid p-3">
    <div class="col-8">
      <div class="shadow-2 border-round-sm p-3">
        <div class="text-lg font-bold">Customer Details</div>
        <div class="flex mt-2 text-sm">
          <div class="key">Customer Name :</div>
          <div>{{ booking.customer?.custName}} {{ booking.customer?.custSurname }}</div>
        </div>

        <div class="flex mt-2 text-sm">
          <div class="key">Customer Phone :</div>
          <div>{{ booking.customer?.custPhone }}</div>
        </div>

        <div class="flex mt-2 text-sm">
          <div class="key">Customer Email :</div>
          <div>{{ booking.customer?.custEmail }}</div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="shadow-2 border-round-sm p-3">
        <div class="text-lg font-bold">Service Detail</div>
        <div class="flex mt-2 text-sm">
          <div class="mr-2">Service Type :</div>
          <div>{{ booking.serviceType?.serviceTypeName }}</div>
        </div>

        <div class="flex mt-2 text-sm">
          <div class="mr-2">Service Date :</div>
          <div>{{ booking.appointmentDateTime | date:'dd/MM/yy' }}</div>
        </div>

        <div class="flex mt-2 text-sm">
          <div class="mr-2">Car :</div>
          <div>{{ booking.car?.licensePlate }}-{{ booking.car?.carBrand }}</div>
        </div>
      </div>
    </div>

    <p-divider class="w-full"></p-divider>
  </div>

  <div class="grid p-3 -mt-5">
    <ng-container *ngIf="listProcess.length; else noSubService">
      <div class="col-8">
        <p-table [value]="listProcess" selectionMode="single" styleClass="p-datatable-striped h-27rem"
          [scrollable]="true" scrollHeight="400px">
          <ng-template pTemplate="header">
            <tr>
              <th>No</th>
              <th>Process</th>
              <th>Steps</th>
              <th>Date</th>
              <th><i></i> </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ item.subService?.subServiceName }}</td>
              <td>{{ item.stepStatus }}</td>
              <td>{{ item.timestamp | date:'h:mm a dd/MM/yy' }}</td>
              <td class="p-2">
                <i (click)="showProcess(item.id)" class="cursor-pointer pi pi-cog mr-3"></i>
                <i (click)="deleteProcess(item.id)" class="cursor-pointer pi pi-trash text-red-600"></i>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <div>TOTAL PRICE</div>
              <div>{{ totalPrice }} Baht</div>
            </div>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
    <ng-template #noSubService>
      <div class="col-8 shadow-2 border-round-sm">
        <div class="flex flex-column justify-content-center align-items-center h-27rem">
          <i class="pi pi-info-circle text-gray-500" style="font-size: 3rem;"></i>
          <div class="mt-2 text-gray-500">No SubService Now!</div>
        </div>
      </div>
    </ng-template>

    <ng-container *ngIf="listBookingStock.length; else noStock">
      <div class="col-4">
        <p-table [value]="listBookingStock" styleClass="h-27rem" [scrollable]="true" scrollHeight="400px">
          <ng-template pTemplate="header">
            <tr>
              <th>No</th>
              <th>Name</th>
              <th class="text-center">Unit</th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ item.stock?.stockName }}</td>
              <td class="text-center">{{ item.quantityUsage }}</td>
              <td>
                <i (click)="deleteStock(item.id)" class="cursor-pointer pi pi-trash text-red-600"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
    <ng-template #noStock>
      <div class="col-4 shadow-2 border-round-sm">
        <div class="flex flex-column justify-content-center align-items-center h-28rem">
          <i class="pi pi-info-circle text-gray-500" style="font-size: 3rem;"></i>
          <div class="mt-2 text-gray-500">No Inventory!</div>
        </div>
      </div>
    </ng-template>

    <p-divider class="w-full"></p-divider>
  </div>

  <div class="">
    <div class="flex justify-content-between mx-3 -mt-4">
      <div>
        <button pButton (click)="showSubService()" label="Add Sub-Service" icon="" class="p-button-sm"
          [style]="{ border: '1px solid #4B527E', width: '17vw', background: 'white', color:'#4B527E' }">
        </button>
        <button pButton (click)="showStock()" label="Add Inventory Usage" icon="" class="p-button-sm ml-2"
          [style]="{ border: '1px solid #4B527E', width: '17vw', background: 'white', color:'#4B527E' }">
        </button>
      </div>
      <div>
        <button label="Submit" icon="pi pi-save" class="p-button-sm" pButton (click)="submit()"
          [style]="{ border: 'none', width: '17vw', background: '#4B527E' }">
        </button>
      </div>
    </div>
  </div>
</app-sidebar>

<!--//Stock-->
<p-dialog header="Inventory" [(visible)]="stockvisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <div class="flex justify-content-end">
    <input pInputText class="mr-2 border-none text-center" value="In Stock" disabled>
    <input pInputText class="border-none text-center" value="Usage" disabled>
  </div>
  <div *ngFor="let item of listStock; let i = index" class="flex justify-content-between mb-2">
    <div class="w-full flex flex-row gap-3">
      <label class="text-lg">{{ item.stockName }}</label>
    </div>
    <p-inputNumber [(ngModel)]="listStock[i].stockQuantity" class="mr-2 text-center" [disabled]="true"></p-inputNumber>
    <p-inputNumber (onInput)="onInputValueChange($event,i)"></p-inputNumber>
  </div>
  <p-divider></p-divider>
  <div class="flex justify-content-end">
    <button pButton label="Add Inventory" icon="pi pi-check" class="w-full p-button-sm p-button-secondary"
      (click)="addInventory()"></button>
  </div>
</p-dialog>

<!--//SubService-->
<p-dialog header="Sub-Service" [(visible)]="subservicevisible" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <div *ngFor="let item of listSubService; let i = index" class="flex justify-content-between">
    <div>
      <p-checkbox [(ngModel)]="listBookingStockUsed[i].selected" [binary]="true" inputId="binary"
        class="mr-3"></p-checkbox>
      <label class="text-lg">{{ item.subServiceName }}</label>
    </div>
    <h1 class="subservice_price text-right">{{ item.price }} Baht</h1>
  </div>
  <p-divider></p-divider>
  <div class="flex justify-content-end">
    <button pButton label="Add Inventory" icon="pi pi-check" class="w-full p-button-sm p-button-secondary"
      (click)="addSubService()"></button>
  </div>
</p-dialog>

<!--//Process Edit-->
<p-dialog header="Update Process" [(visible)]="processVisible" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <div class="grid">
    <div class="col-2">
      <label class="text-base">Steps</label>
    </div>
    <div class="col-10">
      <p-dropdown [options]="optionsSteps" [(ngModel)]="selectedSteps" optionLabel="label" optionValue="value"
        appendTo="body" styleClass="w-full"></p-dropdown>
    </div>
  </div>

  <div>
    <p-divider></p-divider>
    <button pButton label="Update" icon="pi pi-check" class="w-full p-button-sm p-button-secondary"
      (click)="updateProcess()"></button>
  </div>
</p-dialog>