:host ::ng-deep .p-breadcrumb {
    border: none;
}

.key {
    width: 130px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items {
    padding: 0.75rem 0;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
    min-width: 8rem;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
    width: auto;
    padding: 0px;
    padding-right: 1rem;
}

:host ::ng-deep .p-dialog {
    background: white;
    gap: 1rem;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    background: #4B527E;
    color: white;
}

:host ::ng-deep .p-dialog .p-dialog-header svg {
    fill: white;
    color: white;
}

:host ::ng-deep .p-inputtext {
    padding: 8px;
    font-size: 1rem;
    width: 5rem;
}

.subservice_price {
    padding: 4px;
    font-size: 1rem;
    width: 7rem;
}

// For Table

thead {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.09) 0px 3px 7px -3px;
}

th {
    padding: 16px 8px;
    color: white;
    background: #4B527E;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

.table-header {
    padding: 5px;
    padding-bottom: 5px;
}

td {
    padding: 0 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: #BEBEBE 0.5px solid;
}