<app-sidebar>
  <ng-container *ngIf="userRole == 'CUSTOMER'; else EMPLOYEE">
    <div style="height: 10vh;" class="pt-4 p-3">
      <div class="flex justify-content-between">
        <div class="text-4xl font-bold">Home</div>
      </div>
      <p-divider></p-divider>
    </div>


    <div class="flex flex-row p-3 gap-5">
      <section class="h-full col-7 p-3 pb-4 bg-gray-100 border-round-xl">
        <div class="flex flex-column gap-2 text-left pb-5">
          <p class="rewardcards font-medium text-2xl">Reward Cards</p>
          <h3 class="text-sm">Receive a free service after completing 10 sessions</h3>
        </div>
        <div
          class="bg-white shadow-5 border-round-xl text-center flex flex-column justify-content-center pt-4 pb-4 p-3">
          <div class="flex flex-wrap align-content-center justify-content-center">
            <p-chart class="w-23rem" type="doughnut" [data]="data" [options]="options" pTooltip></p-chart>
          </div>
          <p-divider></p-divider>
          <div class="flex flex-column gap-2 pt-3 pb-2">
            <h3 class="pt-2 text-sm">3/10 times</h3>
            <h3 class="text-lg">Receive a free service after completing 10 sessions</h3>
          </div>
        </div>
      </section>

      <section
        class="p-3 pb-4 flex flex-wrap bg-gray-100 border-round-xl lg:align-content-between justify-content-between">
        <div class="flex flex-column gap-2 text-left">
          <p class="rewardcards font-medium text-2xl">Reward Cards</p>
          <h3 class="text-sm">Receive a free service after completing 10 sessions</h3>
        </div>

        <p-card class="w-25rem">
          <div class="w-full flex flex-row align-items-center gap-3">
            <div class="shadow-5 border-round-xl w-fit h-fit bg-white p-2">
              <img class="w-3rem h-3rem" src="https://cdn-icons-png.flaticon.com/512/5041/5041940.png"
                alt="Image Description">
            </div>
            <div class="flex flex-column align-content-start">
              <div class="w-10rem">
                <p class="text-lg "> Car Wash </p>
              </div>
              <p class="text-xs">You have used the service 3 times</p>
            </div>
          </div>
        </p-card>

        <p-card class="w-25rem">
          <div class="w-full flex flex-row align-items-center gap-3">
            <div class="shadow-5 border-round-xl w-fit h-fit bg-white p-2">
              <img class="w-3rem h-3rem" src="https://cdn-icons-png.flaticon.com/512/9103/9103856.png"
                alt="Image Description">
            </div>

            <div class="h-fit flex flex-column">
              <div class="w-10rem">
                <p class="text-lg ">Car maintenance</p>
              </div>
              <p class="text-xs">You have used the service 3 times</p>
            </div>
          </div>
        </p-card>

        <p-card class="w-25rem">
          <div class="w-full flex flex-row align-items-center gap-3">
            <div class="shadow-5 border-round-xl w-fit h-fit bg-white p-2">
              <img class="w-3rem h-3rem" src="https://cdn-icons-png.flaticon.com/512/11276/11276246.png"
                alt="Image Description">
            </div>
            <div class="flex flex-column align-content-start">
              <div class="w-10rem">
                <p class="text-lg ">Car Check Up</p>
              </div>
              <p class="text-xs">You have used the service 3 times</p>
            </div>
          </div>
        </p-card>
      </section>
    </div>
  </ng-container>

  <ng-template #EMPLOYEE>
    <app-employee>
    </app-employee>
  </ng-template>
</app-sidebar>