@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Inter', sans-serif, 'IBM Plex Sans Thai', sans-serif;
}


.rewardcards {
  background-image: linear-gradient(to left, #e9eaf8, #898db2, #5F6482, #c2c6ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Set the text color to transparent */
}
h3{
  background-image: linear-gradient(to left, #e9eaf8, #898db2, #5F6482, #c2c6ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Set the text color to transparent */
}

.rewardcardsframe{
  padding: 1.25rem;
  color: #000000;
  border-radius: 1rem;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
  transition: 877ms;
}

.rewardcardsframe:hover{
  background-position: right;
  display: block;
  color: white;
  transform: scale(104%);
}

:host ::ng-deep .p-card .p-card-body {
  padding: 1.25rem;
  background-size: 350%;
  background-image: linear-gradient(to left, #ffffff, #ffffff, #ffffff, #ffffff);

  color: #000000;
  border-radius: 1rem;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
  transition: 877ms;
}

:host ::ng-deep .p-card .p-card-body:hover{
  background-position: right;
  display: block;
  color: #5F6482;
  background-image: linear-gradient(to left, #ffffff, #b0b5d3, #ffffff);
  transform: scale(104%);
}

:host ::ng-deep .p-card {
  background: rgba(255, 255, 255, 0);
  color: #495057;
  box-shadow: none;
  border-radius: 0px;
}
