.container {
    width: 100vw;;
    height: 100vh;
    background-color: #151515;
  }

  .conta {
    background-color: #27282C;
  }
  :host ::ng-deep .p-password {
      width: 600px;
  }
  :host ::ng-deep .p-inputtext{
    width: 600px;
}