/* You can add global styles to this file, and also import other style files */
/* PrimeNG */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

th {
  background-color: #888888;
  color: white;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}