<div class="grid heightCustom">
    <div class="col-8">
        <div class="shadow-2 border-round-sm h-full">
        </div>
    </div>
    <div class="col-4 flex flex-column align-content-between justify-content-between">
        <div>
            <p-card>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at, itaque esse blanditiis enim
            </p-card>
        </div>
        <div>
            <p-card>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at, itaque esse blanditiis enim
            </p-card>
        </div>
        <div>
            <p-card>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at, itaque esse blanditiis enim
            </p-card>
        </div>
    </div>
</div>