//.heightCustom {
//    height: 500px;
//}

.container{
  margin: 10vh auto;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: max-content;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}


.box{
  margin: 20px auto;
  padding: 10px;
}

svg {
  width: 100%; /* Make the SVG width 100% of the parent div */
  height: 100%; /* Make the SVG height 100% of the parent div */
}

/* styles.css */
.svg-text {
  font-family: 'Inter', sans-serif;
  fill: black;
}

.svg-text.heading{
  font-size: 43px;
}

.card-container {
  perspective: 1000px;
  width: 400px; /* Set the card width */
  height: 600px; /* Set the card height */
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}


.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
